/* CSS Dasar */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #f2f2f2;
  display: flex;
}

.sidebar {
  position: fixed;
  width: 18vw;
  height: 99vh;
  padding: 27px 22px;
  background: #FFFFFF;
  box-shadow: 1px 0px 10px 4px rgba(31, 0, 234, 0.08);
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  z-index: 2;
  border-radius: 10px;
  margin-top: 2.5px;
  margin-left: 2.5px;
}

.sidebar::-webkit-scrollbar {
  display: none;
}

.menu {
  margin-top: 40px;
}

.sub-menu {
  margin-top: 20px;
}

label {
  font-size: 17px;
  color: rgb(195, 25, 166);
}

select {
  width: 100%;
  height: 35px;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid blueviolet;
  background-color: #FFFFFF;
  padding: 5px;
  font-size: 13px;
  color: #333333;
  box-shadow: 1px 0px 10px 4px rgba(139, 15, 176, 0.08);
}


.title {
  color: rgb(247, 15, 15);
  font-size: 15px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.title > .description {
  margin-top: 5px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 12px;
  font-weight: 600;
  color: rgb(22, 49, 165);
}

.content {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: auto;
  padding-left: 20vw;
  background-color: #E9E9E9;
}

.input-side {
  width: 100%;
  height: 33px;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid blueviolet;
  background-color: #FFFFFF;
  padding: 5px;
  font-size: 13px;
  color: #333333;
  box-shadow: 1px 0px 10px 4px rgba(139, 15, 176, 0.08);
}

.tbl {
  margin-top: 50px;
  width: 90%;
  max-width: 8000px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  border-collapse: collapse;
  box-shadow: 1px 1px 10px 4px rgba(44, 14, 219, 0.08);
}

.tbl td {
  padding: 5px;
  background-color: #FFFFFF;
  border: 1.5px solid #CCCCCC;
}
.tbl tr td:first-child{
  width:360px;
}

.tbl tr:nth-child(2n) td {
  background-color: #F2F2F2;
}

.tbl input {
  width: 100%;
  padding: 5px;
  background-color: #F2F2F2;
  border: 0.5px solid #CCCCCC;
  border-radius: 1px;
}

.str-c {
  margin-bottom: 15px;
  margin-top: 15px;
  font-size: 20px;
}

.btnsave {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  text-align: center;
}

.btnsave button {
  padding: 10px 20px;
  background-color: #3b6b3d;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 14px;
  display: block;
  width: 100%;
  max-width: 200px;
  margin: 0 auto;
}

.btnsave button:hover {
  background-color: #45a049;
}

input {
  width: 100%;
  height: 30px;
}

.tbl-hasil {
  margin-top: 50px;
  background-color: #FFFFFF;
  border-radius: 1px;
  box-shadow: 0px 0px 10px 4px rgba(9, 0, 67, 0.08);
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  max-width: 800px;
  width: 90%;
  border-collapse: collapse;
}

.tbl-hasil td:first-child {
  width: 430px;
  font-weight: bold;
}

.tbl-hasil tr {
  height: 30px;
}

.tbl-hasil th,
.tbl-hasil td {
  padding: 10px;
  text-align: left;
  border-bottom: 5px solid #dddddd;
}

.tbl-hasil th {
  background-color: #f2f2f2;
  width: 510px;
}

.ftr {
  position: fixed;
  bottom: 10px;
  font-size: 11.8px;
}

.str-c{
  font-size: 25px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Media Queries */
@media only screen and (max-width: 768px) {
  /* Aturan CSS untuk layar dengan lebar maksimal 768px */
  .sidebar {
    width: 100%;
    height: auto;
    position: static;
    box-shadow: none;
    border-radius: 0;
    padding: 20px;
    margin: 0;
  }

  .content {
    padding-left: 0;
  }

  .tbl input {
    width: 100%;
  }

  .tbl {
    width: 100%;
    max-width: none;
    margin-left: 0;
    margin-right: 0;
  }
}
